.button{
  border: 2rem;
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 0.3rem;
}

.url_form {
    position:fixed;
    top: 50%;
    left: 40%;
}
.App {
  background-image: url('./images/app-background.jpg');
  height: 100vh;
}
#shortUrl{
  position:fixed;
    top: 57%;
    left: 40%;
    background-color: white;
}

#error{
  position:fixed;
    top: 45%;
    left: 40%;
    background-color: white;
    color: red;
}